html {
    background-color: slategrey;
}

img{
    margin-left: 25%;
    height: 400px;
    width: auto;
}

h1, h2, h3, ul {
    text-align: center;
    padding: 50px;
    font-family: cursive;
    border: 20px solid aliceblue;
}

