html {
    background-color: gray;
}

img{
    margin: 25% 25% 25% 25% ;
    height: 25rem;
    width: auto;
}

h1, h2, h3, ul {
    text-align: center;
    padding: 50px;
    font-family: cursive;
    border: 20px solid aliceblue;
}

a::after{
    text-decoration: none;
    color: black;
}
a::before{
    text-decoration: none;
    color: black;

}
a:visited{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration: none;
    color: black;

}
a:link{
    text-decoration: none;
    color: black;
}
a:active{
    text-decoration: none;
    color: black;
}

#projects {
    text-align: center;
    
}

#projects a {
    font-size: 3rem ;
}